<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127034766227-k3r4kjfbksd9vc38tt5od90p9unohso5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127034766227-k3r4kjfbksd9vc38tt5od90p9unohso5</string>
	<key>API_KEY</key>
	<string>AIzaSyAAnEtC0uBkK3TLeW8JsyNR29VJ4Km71vY</string>
	<key>GCM_SENDER_ID</key>
	<string>127034766227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KariGroszewska.BitBattles</string>
	<key>PROJECT_ID</key>
	<string>bitbattles-333eb</string>
	<key>STORAGE_BUCKET</key>
	<string>bitbattles-333eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:127034766227:ios:869dbf1a0ca59bec632e66</string>
</dict>
</plist>
